/* Estilo do botão PDF */
.btn {
    padding: 8px 15px;
    background: #2980b9;
    color: white !important;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.btn:hover {
    background: #3498db;
}